[submodule ".emacs.d/elisp/emacs-for-python"]
	path = .emacs.d/elisp/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule ".emacs.d/elisp/haml-mode"]
	path = .emacs.d/elisp/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule ".emacs.d/elisp/pylookup"]
	path = .emacs.d/elisp/pylookup
	url = https://github.com/tsgates/pylookup.git
[submodule ".emacs.d/elisp/python-pep8"]
	path = .emacs.d/elisp/python-pep8
	url = https://github.com/emacsmirror/python-pep8.git
[submodule ".emacs.d/elisp/python-pylint"]
	path = .emacs.d/elisp/python-pylint
	url = https://github.com/emacsmirror/python-pylint.git
[submodule ".emacs.d/elisp/yasnippet"]
	path = .emacs.d/elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/elisp/cycbuf"]
        path = .emacs.d/elisp/cycbuf
        url = https://github.com/emacsmirror/cycbuf.git
